* {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.container {
  padding: 0 80px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

button:focus {
  outline: none;
}

.title {
  font-size: 45px;
  text-align: center;
  font-weight: 600;
  color: #061e37;
}

.subtitle {
  font-weight: 600;
  font-size: 25px;
  color: #b0bec5;
  text-align: center;
  line-height: 16px;
}

.descr {
  line-height: 25px;
  color: #b0bec5;
  text-align: center;
  width: 560px;
  margin: 24px auto 0 auto;
}

.promo {
  min-height: 750px;
  background: url(../img/bg1.jpg) center center/cover no-repeat;
  padding: 50px 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo_wrap {
  display: flex;
  align-items: center;
}

.logo__img {
  margin-right: 10px;
}

.logo__text {
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
}

.logo__text > span {
  font-weight: 700;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin: 0 25px;
  opacity: 0.85;
  transition: opacity 0.3 ease;
}

.nav__item:hover {
  opacity: 1;
}

.nav__item > a {
  color: #ffffff;
  font-weight: 600;
}

.promo__sing > button {
  padding: 6px 20px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 2px;
  font-size: 12px;
  color: #ffffff;
}

.promo__sing > button:focus {
  outline: none;
}

.promo__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 167px;
}

.promo__text {
  width: 45%;
}

.promo__title {
  font-weight: 700;
  font-size: 55px;
  line-height: 65px;
  text-transform: uppercase;
  color: #ffffff;
}

.promo__descr {
  font-size: 18px;
  line-height: 35px;
  color: #ffffff;
  opacity: 0.8;
}

.promo__btns {
  margin-top: 38px;
}

.promo__btn {
  width: 160px;
  height: 55px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease;
}

.promo__btn_black {
  background: #061e37;
  color: white;
  margin-right: 30px;
}

.promo__btn_black:hover {
  color: #061e37;
  background: white;
}

.promo__btn_white {
  color: #061e37;
  background: white;
}

.promo__btn_white:hover {
  background: #061e37;
  color: white;
}

.promo__video {
  position: relative;
}

.promo__video > video {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid #061e37;
}

.promo__play {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 75px);
  width: 150px;
  color: #061e37;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.promo__play > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #061e37;
  margin: 0 auto 22px auto;
}

.promo__play > div > i {
  color: white;
}

.useful {
  padding: 100px 0;
  min-height: 800px;
}

.useful__content {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}

.useful__item {
  width: 27%;
}

.useful__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #061e37;
}

.useful__descr {
  text-align: center;
  line-height: 20px;
  color: #78909c;
}

.useful__icon {
  text-align: center;
  margin-bottom: 47px;
}

.useful__icon > i {
  font-size: 80px;
}

.fa-calendar-days {
  color: #b388ff;
}

.fa-users {
  color: #80d8ff;
}

.fa-fire-extinguisher {
  color: #ea80fc;
}

.usefull__btn {
  display: block;
  margin: 78px auto 0 auto;
  width: 150px;
  height: 55px;
  background: #1de9b6;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: none;

  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.3s ease;
}

.usefull__btn:hover {
  background-color: #1ccea1;
}

.progress {
  display: flex;
}

.progress__wrap {
  display: flex;
  align-items: center;
}

.progress__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 150px;
}

.progress__item_buisness {
  background-color: #80d8ff;
}

.progress__item_buisness i {
  color: #80d8ff;
}

.progress__item_download {
  background-color: #82b1ff;
}

.progress__item_download i {
  color: #82b1ff;
}

.progress__item_install {
  background-color: #b388ff;
}

.progress__item_install i {
  color: #b388ff;
}

.progress__item_users {
  background-color: #ea80fc;
}

.progress__item_users i {
  color: #ea80fc;
}

.progress__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 100%;
  margin-right: 23px;
}

.progress__icon > i {
  font-size: 30px;
}

.progress__text {
  color: #ffffff;
  font-weight: 700;
  line-height: 25px;
  font-size: 20px;
}
