* {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 18px;
  outline: none;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

.site-header img {
  max-width: 100%;
}

.site-header h1,
.site-header h2 {
  color: #222;
  font-size: 26px;
  text-align: center;
  margin: 30px auto;
  text-transform: uppercase;
}

.site-header h2 {
  font-size: 22px;
}

.site-header a {
  color: #3b0b99;
}

.site-header h2 a {
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
}

figure {
  padding: 30px;
  margin: 20px 0;
  text-align: center;
}

figure img {
  max-width: 100%;
  box-shadow: 0 0 10px #c0c0c0;
}

figcaption {
  font-style: italic;
}

p {
  margin: 20px;
  line-height: 150%;
  margin-bottom: 30px;
}

.container {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  background: #f1f1f1;
  padding: 10px;
}

.bg-orange {
  background: orange;
}

.bg-orangered {
  background: orangered;
}

.bg-brown {
  background: brown;
}

.bg-darkcyan {
  background: darkcyan;
}

.bg-dodgerBlue {
  background: DodgerBlue;
}

.out-1,
.out-2,
.out-3,
.out-4,
.out-5,
.out-6,
.out-7 {
  min-height: 400px;
  border: 2px solid orangered;
  margin: 30px auto;
}

.out-1::after,
.out-2::after,
.out-3::after,
.out-4::after,
.out-5::after,
.out-6::after,
.out-7::after {
  content: '';
  display: block;
  clear: both;
}

.block {
  max-width: 100%;
  max-height: 150px;
  margin: 1%;
}

/* ================ task 1 ========================= */

.out-1 {
  display: flex;
  justify-content: space-between;
}
.out-1 .block {
  width: 25%;
}

@media (max-width: 800px) {
  .out-1 {
    flex-wrap: wrap;
  }
  .out-1 .block {
    width: 48%;
  }
}

@media (max-width: 600px) {
  .out-1 .block {
    width: 100%;
  }
}

/* ================ task 2 ========================= */

.out-2 {
  display: grid;
  grid-template-areas:
    'block1 block2 block3'
    'block4 block4 block4';
  gap: 5px;
  grid-template-rows: 150px 150px;
  grid-template-columns: 1fr 1fr 1fr;
}

.out-2 .block-1 {
  grid-area: block1;
}

.out-2 .block-2 {
  grid-area: block2;
}

.out-2 .block-3 {
  grid-area: block3;
}

.out-2 .block-4 {
  grid-area: block4;
}

@media (max-width: 800px) {
  .out-2 {
    grid-template-areas:
      'block1 block2'
      'block3 block4';
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .out-2 {
    grid-template-areas:
      'block1 block2'
      'block3 block3'
      'block4 block4';
    grid-template-rows: 150px 150px 150px;

    grid-template-columns: 1fr 1fr;
  }
}

/* task 3 */

.out-3 {
  display: grid;
  grid-template-areas:
    'block1 block1 block1'
    'block2 block3 block4';
  gap: 5px;
  grid-template-rows: 150px 150px;
  grid-template-columns: 1fr 1fr 1fr;
}

.out-3 .block-1 {
  grid-area: block1;
}

.out-3 .block-2 {
  grid-area: block2;
}

.out-3 .block-3 {
  grid-area: block3;
}

.out-3 .block-4 {
  grid-area: block4;
}

@media (max-width: 800px) {
  .out-3 {
    grid-template-areas:
      'block1 block1'
      'block2 block3'
      'block4 block4';
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .out-3 {
    grid-template-areas:
      'block1 block1 block1'
      'block2 . .'
      'block3 block3 block3'
      'block4 block4 block4';
    grid-template-rows: 150px 150px 150px 150px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
