/* tools -------------------------- */
.clear {
    clear: both;
    display: block;
    line-height: 0;
    height: 0;
    font-size: 0;
}
.clearfix:after,
.wrap:after,
aside:after,
section:after,
article:after,
.text:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    font-size: 0;
}
.align-left {
    float: left !important;
}
.align-right {
    float: right !important;
}
.overflow-hidden {
    overflow: hidden;
    display: block;
}