* {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 18px;
  outline: none;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

.site-header img {
  max-width: 100%;
}

.site-header h1,
.site-header h2 {
  color: #222;
  font-size: 26px;
  text-align: center;
  margin: 30px auto;
  text-transform: uppercase;
}

.site-header h2 {
  font-size: 22px;
}

.site-header a {
  color: #3b0b99;
}

.site-header h2 a {
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
}

.container {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  background: #f1f1f1;
  padding: 10px;
}

p {
  margin: 20px;
  line-height: 150%;
  margin-bottom: 30px;
}

.canvas {
  width: 800px;
  height: 1000px;
  background-color: white;
  background-image: url('../images/bg.png');
  position: relative;
  margin: 0 auto;
}

.img-1,
.img-2,
.img-3 {
  position: absolute;
  top: 250px;
}

.img-1 {
  left: 50px;
}

.img-2 {
  left: 300px;
}

.img-3 {
  right: 50px;
}

.slogan {
  position: absolute;
  top: 150px;
  left: 50px;
}

.second-slogan {
  position: absolute;
  right: 50px;
  bottom: 150px;
}
