* {
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
  margin: 20px 0;
}

p,
li {
  margin-bottom: 20px;
  line-height: 150%;
}

img {
  max-width: 80%;
  display: block;
  margin: 20px auto;
}

.text-bold {
  font-weight: bold;
}

.text-red {
  color: red;
}

.img-description {
  text-align: center;
}
