* {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 18px;
  outline: none;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

.site-header img {
  max-width: 100%;
}

.site-header h1,
.site-header h2 {
  color: #222;
  font-size: 26px;
  text-align: center;
  margin: 30px auto;
  text-transform: uppercase;
}

.site-header h2 {
  font-size: 22px;
}

.site-header a {
  color: #3b0b99;
}

.site-header h2 a {
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
}

figure {
  padding: 30px;
  margin: 20px 0;
  text-align: center;
}

figure img {
  max-width: 100%;
  box-shadow: 0 0 10px #c0c0c0;
}

figcaption {
  font-style: italic;
}

p {
  margin: 20px;
  line-height: 150%;
  margin-bottom: 30px;
}

.container {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  background: #f1f1f1;
  padding: 10px;
}

.out-1,
.out-2,
.out-3,
.out-4,
.out-5,
.out-6,
.out-7 {
  width: 800px;
  min-height: 400px;
  border: 2px solid orangered;
  margin: 30px auto;
}

.out-3,
.out-4,
.out-5 {
  width: 400px;
}

.block {
  width: 50px;
  height: 50px;
  margin: 10px;
  background: orange;
}

/* ================ task 1 ========================= */
.out-1 {
  display: flex;
  justify-content: center;
}

/* ================ task 2 ========================= */
.out-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ================ task 3 ========================= */
.out-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ================ task 4 ========================= */
.out-4 {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

/* ================ task 5 ========================= */
.out-5 {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
