/* content -------------------------- */
.simple {
    text-align: center;
    padding: 107px 0 95px;
}
.simple p {
    margin: 0 60px 16px;
}
.promo {
    background: #3db39e;
    color: #ffffff;
}
.promo .wrap {
    position: relative;
    min-height: 634px;
}
.promo-text {
    width: 460px;
    height: 634px;
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    line-height: 30px;
}
.promo-text p {
    padding: 35px 0 0;
}
.promo .wrap img {
    position: absolute;
    bottom: 0;
    right: 18px;
}
.promo-title {
    font-size: 55px;
    line-height: 60px;
    font-weight: bold;
}
.promo-button {
    display: inline-block;
    white-space: nowrap;
    height: 52px;
    line-height: 52px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding: 0 30px;
    background: #ffffff;
    text-transform: uppercase;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
.promo-button:hover {
    background-color: #e2f9f5;
    color: #26a5d1;
}
.promo-button:active {
    color: #188bb2;
    background-color: #e2f9f5;
    -moz-box-shadow: inset 0 2px 0 rgba(0,0,1,.1);
    -webkit-box-shadow: inset 0 2px 0 rgba(0,0,1,.1);
    box-shadow: inset 0 2px 0 rgba(0,0,1,.1);
}
.promo-link {
    color: #ffffff;
    font-size: 20px;
    line-height: 52px;
    font-weight: bold;
    margin: 0 0 0 35px;
    text-transform: uppercase;
    white-space: nowrap;
}
.promo-link:hover {
    color: #c9f9f0;
}
.features {
    margin: -25px 0 60px;
}
.features-columns {
    margin: 0 -25px;
}
.feature {
    float: left;
    width: 33.33%;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    padding: 0 25px;
    margin: 0 0 50px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.feature h4 {
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #2b414d;
    font-weight: bold;
    position: relative;
    margin: 0 0 42px;
}
.feature h4:after {
    position: absolute;
    bottom: -22px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 22px;
    height: 2px;
    background-color: #cbcfd1;
    content: "";
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
.feature:hover h4:after {
    background-color: #3db39e;
}
.ico-help,
.ico-like,
.ico-present {
    width: 64px;
    height: 64px;
    margin: 0 auto 32px;
    background-position: 0 -50px;
}
.ico-like {
    background-position: -100px -50px;
}
.ico-present {
    background-position: -200px -50px;
}
.tabsblock {
    background: #f6f6f6;
}
.tabsblock .wrap {
    position: relative;
    min-height: 565px;
}
.tabsblock .wrap img {
    position: absolute;
    left: 22px;
    bottom: 0;
}
.tab {
    padding-left: 540px;
    width: 400px;
    display: table-cell;
    height: 565px;
    vertical-align: middle;
}
.tabs {
    padding: 0 0 23px;
}
.tabs li {
    width: 12px;
    height: 12px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    float: left;
    background-color: #cbcfd1;
    margin: 0 13px 13px 0;
    -moz-transition: background-color 0.15s linear;
    -o-transition: background-color 0.15s linear;
    -webkit-transition: background-color 0.15s linear;
    transition: background-color 0.15s linear;
    cursor: pointer;
}
.tabs li:hover {
    background-color: #8cc6bc;
}
.tab li.active {
    cursor: default;
    background-color: #3db39e;
}
.box {
    display: none;
}
.box.visible {
    display: block;
}
.subscribe {
    background: #26a6d1;
    text-align: center;
    color: #ffffff;
    text-align: center;
    padding: 107px 0 113px;
}
.subscribe-title {
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 36px;
}
.subscribe-form {
    display: inline-block;
    margin: 0 0 30px;
}
.subscribe-email {
    float: left;
    border: 0;
    width: 399px;
    height: 52px;
    font-size: 18px;
    line-height: 22px;
    padding: 15px;
    background: #ffffff;
    margin: 0 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.subscribe-button {
    float: left;
    border: 0;
    width: 160px;
    height: 52px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #26a6d1;
    background: #ffffff;
    text-transform: uppercase;
    margin: 0 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.subscribe-note {
    clear: both;
}