* {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 18px;
  outline: none;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

.site-header img {
  max-width: 100%;
}

.site-header h1,
.site-header h2 {
  color: #222;
  font-size: 26px;
  text-align: center;
  margin: 30px auto;
  text-transform: uppercase;
}

.site-header h2 {
  font-size: 22px;
}

.site-header a {
  color: #3b0b99;
}

.site-header h2 a {
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
}

.container {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  background: #f1f1f1;
  padding: 10px;
}

section {
  margin-bottom: 100px;
}

figure {
  padding: 30px;
  margin: 20px 0;
  text-align: center;
}

figure img {
  max-width: 100%;
  box-shadow: 0 0 10px #c0c0c0;
}

figcaption {
  font-style: italic;
}

p {
  margin: 20px;
  line-height: 150%;
  margin-bottom: 30px;
}
.bg-orange {
  background: orange;
}

.bg-orangered {
  background: orangered;
}

.bg-brown {
  background: brown;
}

.bg-darkcyan {
  background: darkcyan;
}

.bg-dodgerBlue {
  background: DodgerBlue;
}

.block {
  width: 100px;
  height: 100px;
}

.out-1,
.out-2,
.out-3,
.out-4,
.out-5 {
  border: 2px solid black;
}

/* =============== task 1 ============================= */

.out-1 {
  display: grid;
  grid-template-areas:
    'header header'
    'aside main'
    'footer footer';
  grid-gap: 5px;
  margin: 0;
  grid-template-rows: 50px 200px 50px;
  grid-template-columns: 25% 1fr;
}

.out-1 header {
  grid-area: header;
}

.out-1 main {
  grid-area: main;
}

.out-1 aside {
  grid-area: aside;
}

.out-1 footer {
  grid-area: footer;
}

/* =============== task 2 ============================= */

.out-2 {
  display: grid;
  grid-template-areas:
    'header2 header2 header2'
    'aside2 main2 aside2_1'
    'footer2 footer2 footer2';
  grid-gap: 5px;
  grid-template-rows: 50px 200px 50px;
  grid-template-columns: 25% 1fr 25%;
}

.out-2 header {
  grid-area: header2;
}

.out-2 main {
  grid-area: main2;
}

.out-2 aside {
  grid-area: aside2;
}

.out-2 .aside-2 {
  grid-area: aside2_1;
}

.out-2 footer {
  grid-area: footer2;
}

/* =============== task 3 ============================= */

.out-3 {
  display: grid;
  grid-template-areas:
    'header header'
    'news1 news2'
    'news3 news4'
    'footer footer';
  gap: 5px;
  grid-template-rows: 50px 200px 200px 50px;
  grid-template-columns: 1fr 1fr;
}

.out-3 header {
  grid-area: header;
}

.out-3 .news-1 {
  grid-area: news1;
}

.out-3 .news-2 {
  grid-area: news2;
}

.out-3 .news-3 {
  grid-area: news3;
}

.out-3 .news-4 {
  grid-area: news4;
}

.out-3 footer {
  grid-area: footer;
}

/* =============== task 4 ============================= */

.out-4 {
  display: grid;
  grid-template-areas:
    'header header header'
    'news1 news1 news2'
    'news3 news4 news4'
    'footer footer footer';
  gap: 5px;
  grid-template-rows: 50px 200px 200px 50px;
  grid-template-columns: 1fr 1fr 1fr;
}

.out-4 header {
  grid-area: header;
}

.out-4 .news-1 {
  grid-area: news1;
}

.out-4 .news-2 {
  grid-area: news2;
}

.out-4 .news-3 {
  grid-area: news3;
}

.out-4 .news-4 {
  grid-area: news4;
}

.out-4 footer {
  grid-area: footer;
}

/* =============== task 5 ============================= */

.out-5 {
  display: grid;
  grid-template-areas:
    'header header header'
    'news1 news1 news1'
    'news2 news3 news4'
    'footer footer footer';
  gap: 5px;
  grid-template-rows: 50px 200px 200px 50px;
}

.out-5 header {
  grid-area: header;
}

.out-5 .news-1 {
  grid-area: news1;
}

.out-5 .news-2 {
  grid-area: news2;
}

.out-5 .news-3 {
  grid-area: news3;
}

.out-5 .news-4 {
  grid-area: news4;
}

.out-5 footer {
  grid-area: footer;
}
