.App {
  text-align: center;
}

.activeLink{
  color: green;
  text-decoration: none;
}

/* .active{
  color: green;
  text-decoration: none;
} */

.courseLink{
  font-size: 25px;
  text-decoration: none;
}

.courseLink:hover{
  text-decoration: underline;
}

button {
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  margin: 20px;
  border: 0;
  cursor: pointer;
}

h1 {
  font-size: 90px;
  margin-top: 20px;
}

a {
  color: red;
  font-size: 25px;
}

nav a {
  margin: 15px;
}

nav {
  background-color: rgba(184, 135, 11, 0.263);
  padding: 5px;
}
