* {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 18px;
  outline: none;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

.site-header img {
  max-width: 100%;
}

.site-header h1,
.site-header h2 {
  color: #222;
  font-size: 26px;
  text-align: center;
  margin: 30px auto;
  text-transform: uppercase;
}

.site-header h2 {
  font-size: 22px;
}

.site-header a {
  color: #3b0b99;
}

.site-header h2 a {
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
}

.container {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  background: #f1f1f1;
  padding: 10px;
}

figure {
  padding: 30px;
  margin: 20px 0;
  text-align: center;
}

figure img {
  max-width: 100%;
  box-shadow: 0 0 10px #c0c0c0;
}

figcaption {
  font-style: italic;
}

p {
  margin: 20px;
  line-height: 150%;
  margin-bottom: 30px;
}
.bg-orange {
  background: orange;
}

.bg-orangered {
  background: orangered;
}

.bg-brown {
  background: brown;
}

.bg-darkcyan {
  background: darkcyan;
}

.bg-dodgerBlue {
  background: DodgerBlue;
}

.block {
  width: 100px;
  height: 100px;
}
/* Task 1 -------------------------------------- */
.out-1 {
  border: 1px solid black;
  width: 302px;
  height: 202px;
  position: relative;
  margin: 50px auto;
}

.out-1 .t-1,
.out-1 .t-2,
.out-1 .t-3 {
  position: relative;
}

.out-1 .t-2 {
  left: calc(300px / 3);
}

.out-1 .t-3 {
  bottom: 200px;
  left: 200px;
}

/* Task 1 END -------------------------------------- */

/* Task 2 -------------------------------------- */
.out-2 {
  border: 1px solid black;
  width: 302px;
  height: 202px;
  position: relative;
  margin: 50px auto;
}

.out-2 .t-1,
.out-2 .t-2,
.out-2 .t-3 {
  position: absolute;
}

.out-2 .t-2 {
  left: 100px;
  top: 100px;
}

.out-2 .t-3 {
  left: 200px;
}

/* Task 2 END -------------------------------------- */

/* Task 3 -------------------------------------- */
.out-3 {
  border: 1px solid black;
  width: 302px;
  height: 202px;
  position: relative;
  margin: 50px auto;
}

.out-3 .t-1,
.out-3 .t-2,
.out-3 .t-3 {
  position: absolute;
}

.out-3 .t-1 {
  left: 50px;
  top: 50px;
}

.out-3 .t-2 {
  left: 100px;
  top: 100px;
}

.out-3 .t-3 {
  left: 150px;
  top: 150px;
}

/* Task 3 END -------------------------------------- */

/* Task 4 -------------------------------------- */
.out-4 {
  border: 1px solid black;
  width: 402px;
  height: 202px;
  position: relative;
  margin: 50px auto;
}

.out-4 .t-1,
.out-4 .t-2,
.out-4 .t-3,
.out-4 .t-4 {
  position: absolute;
}

.out-4 .t-1 {
}

.out-4 .t-2 {
  top: 100px;
}

.out-4 .t-3 {
  left: 300px;
}

.out-4 .t-4 {
  left: 300px;
  top: 100px;
}

/* Task 4 END -------------------------------------- */

/* Task 5 -------------------------------------- */
.out-5 {
  border: 1px solid black;
  width: 402px;
  height: 202px;
  position: relative;
  margin: 50px auto;
}

.out-5 .t-1,
.out-5 .t-2,
.out-5 .t-3 {
  position: absolute;
  transform: rotate(45deg);
  top: 50px;
}

.out-5 .t-1 {
  left: 100px;
}

.out-5 .t-2 {
  left: 150px;
}

.out-5 .t-3 {
  left: 200px;
}

/* Task 5 END -------------------------------------- */

/* Task 6 -------------------------------------- */
.out-6 {
  position: relative;
}

.out-6 .s-6 {
  position: relative;
  bottom: 10px;
}

/* Task 6 END -------------------------------------- */

/* Task 7 -------------------------------------- */
.out-7 {
  background: #000;
  width: 30px;
  height: 30px;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

/* Task 7 END -------------------------------------- */
